@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}
 <h1 x-data="{ message: 'I ❤️ Alpine' }" x-text="message"></h1>
 <div x-data="{ count: 0 }">
    <button x-on:click="count++">Increment</button>
 
    <span x-text="count"></span>
</div>
<div x-data="{ open: false }">
    <button @@click="open = ! open">Toggle Content</button>
 
    <div x-show="open">
        Content...
    </div>
</div>
<div x-data="{ open: false, toggle() { this.open = ! this.open } }">
    <button @@click="toggle()">Toggle Content</button>
 
    <div x-show="open">
        Content...
    </div>
</div>
<button x-data="{ open: true ,t(){this.open = false}}" @@click="t" x-show="open">
    Hide Me
</button>
<div x-data="dropdown">
    <button @@click="toggle">Toggle Content</button>
 
    <div x-show="open">
        Content...
    </div>
</div>
<script>
    document.addEventListener('alpine:init', () => {
        Alpine.data('dropdown', () => ({
            open: false,
 
            toggle() {
                this.open = ! this.open
            },
        }))
    })
</script>
<div x-data="{ placeholder: 'Type here...' }">
  <input type="text" x-bind:placeholder="placeholder">
</div>
<div x-data="{ open: false }" x-init="$watch('open', value => console.log(value))">
    <button @@click="open = ! open">Toggle Open</button>
</div>
<div class="page-body">
	<div class="index-body">
		<div class="card ">
			<img src="~/Images/categories2.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h1 class="card-title">Categories</h1>
				<p class="card-text">from here you can go and see our categories, add, edit and delete.</p>
				<a asp-page="/Categories" class="btn btn-primary">Go</a>
			</div>
		</div>
		<div class="card ">
			<img src="~/Images/recipes2.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h1 class="card-title">Recipes</h1>
				<p class="card-text">from here you can go and see our recipes, add, edit and delete.</p>
				<a asp-page="/Recipes" class="btn btn-primary">Go</a>
			</div>
		</div>
	</div>
</div>

